{{#extends 'base'}}
{{#block 'content'}}
<form method='GET'>
    {{{form}}}
    <input type='submit' class='btn btn-primary' value='search'/>
</form>
<table class='table'>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Customer Name</th>
            <th>Shipping Address</th>
            <th>Contact</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.products.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.orders.shoppers.username}}</td>
            <td>{{this.orders.shipping_address}}</td>
            <td>{{this.orders.contact_number}}</td>
            <td>{{this.orders.amount}}</td>
            <td>{{this.orders.status}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>
{{/block}}
{{/extends}}