{{#extends 'base'}}
{{#block 'content'}}
<div class='m-5'>
    <h5>Customer name: {{order.shoppers.username}}</h5>
    <h5>Shipping Address: {{order.shipping_address}}</h5>
    <h5>Email: {{order.shoppers.email}}</h5>
    <h5>Contact: {{order.contact_number}} </h5>
    <h5>Date: {{order.date}}</h5>
    <h5>Status: {{order.status}}</h5>
</div>
<table class='table'>
    <thead>
        <tr>
            <th></th>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td><img class="img-thumbnail" src="{{this.products.image_url}}" /></td>
            <td>{{this.product_id}}</td>
            <td>{{this.products.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.products.price}}</td>

            {{!-- <td>
                <a href="/orders/{{this.orders.id}}/update" class="btn btn-primary btn-sm">Update</a>
            </td> --}}
        </tr>
        {{/each}}
    </tbody>

</table>
<div class='d-flex justify-content-end'>
    <a href='/orders' class="btn goldBtn btn-sm">Go Back</a>
</div>
{{/block}}
{{/extends}}