{{#extends 'base'}}

{{#block 'content'}}
<h1>My shopping bag</h1>

<ul class="list-group">
    {{#each bag}}
    <li class="list-group-item">
        <h4>{{this.products.name}}</h3>
            <h5>Category: {{this.products.category.name}}</h5>
            <h5>Cost: {{this.products.cost}} </h5>
            <form method='POST' action="/bag/{{this.products.id}}/updateQuantity">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                <h5>Quantity:
                    <input type='text' value='{{this.quantity}}' name='newQuantity' />
                    <input type='submit' value='Update Quantity' class='btn btn-success btn-sm' />
                </h5>
            </form>
    </li>
    <a href='/bag/{{this.products.id}}/remove' class='btn btn-danger'>Remove</a>
    {{/each}}
    <div>
        <a href="/checkout" class="btn btn-success mb-3 mt-3">Pay</a>
    </div>
</ul>


{{/block}}

{{/extends}}